@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: rubik, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  flex-grow: 1;
  width: 1160px;
}


/* Шапка */
.header-container {
  margin: 15px auto 0;
  padding: 4px 60px 0;
}


/* Лого */
.page-logo {
  display: block;
  margin-bottom: 30px;
  max-width: 300px;
  max-height: 36px;
  cursor: pointer;
}

.page-logo:hover {
  opacity: 0.6;
}

.page-logo:active {
  opacity: 0.3;
}


/* User меню */
.user-menu-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.header-search-form {
  position: relative;
  display: flex;
}

.search-icon-button {
  position: absolute;
  top: 14px;
  left: 20px;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  background: url(../images/icons/search-icon.svg) no-repeat;
  cursor: pointer;
  outline: none;
}

.header-field {
  box-sizing: border-box;
  max-width: 359px;
  padding: 10px 150px 10px 48px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
}

.header-field:focus {
  outline-offset: 2px;
  outline: 2px solid #AF4FFF;
  /* Линия должна иметь прямые углы - в работе */
}

.header-field:disabled,
.header-field:disabled ~ .search-icon-button {
  opacity: 0.3;
}

.search-button {
  box-sizing: border-box;
  max-width: 160px;
  margin-right: 26px;
  padding: 10px 56px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
  cursor: pointer;
}

.search-button:hover:not(:disabled) {
  background-color: #000000;
  color: #FFFFFF;
}

.search-button:focus {
  outline-offset: 2px;
  outline: 2px solid #AF4FFF;
  /* Линия должна иметь прямые углы - в работе */
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-button:disabled {
  color: inherit;
  opacity: 0.3;
  cursor: auto;
}

.login-button {
  position: relative;
  box-sizing: border-box;
  width: 231px;
  margin-right: 26px;
  padding: 0;
  padding-left: 27px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.login-button::before {
  position: absolute;
  top: 15px;
  left: 0;
  content: "";
  width: 13px;
  height: 12px;
  background: url(../images/icons/login-icon.svg) no-repeat;
}

.login-button:hover {
  opacity: 0.6;
}

.login-button:active {
  opacity: 0.3;
}

.login-button:focus {
  outline-offset: 2px;
  outline: 2px solid #AF4FFF;
}

.compare-button {
  position: relative;
  box-sizing: border-box;
  width: 105px;
  margin-right: auto;
  padding: 0;
  padding-left: 22px;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.compare-button::before {
  position: absolute;
  top: 15px;
  left: 0;
  content: "";
  width: 10px;
  height: 12px;
  background: url(../images/icons/compare-icon.svg) no-repeat;
}

.compare-button:hover {
  opacity: 0.6;
}

.compare-button:active {
  opacity: 0.3;
}

.compare-button:focus {
  outline-offset: 2px;
  outline: 2px solid #AF4FFF;
}

.cart-button {
  position: relative;
  box-sizing: border-box;
  width: 117px;
  padding: 0;
  padding-left: 43px;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-button::before {
  position: absolute;
  top: 15px;
  left: 15px;
  content: "";
  width: 16px;
  height: 14px;
  background: url(../images/icons/cart-icon.svg) no-repeat;
}

.cart-button::after {
  position: absolute;
  top: 16px;
  left: 0;
  content: "2";
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.cart-button:hover {
  opacity: 0.6;
}

.cart-button:active {
  opacity: 0.3;
}

.cart-button:focus {
  outline-offset: 2px;
  outline: 2px solid #AF4FFF;
}


/* Главная навигация */
.navigation-list {
  display: flex;
  max-width: 1040px;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

.navigation-link {
  font-family: raleway;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.catalog-toggler-link {
   margin-right: 345px;
   white-space: nowrap;
}

.navigation-sublist {
  display: none;
}

.navigation-sublink {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.navigation-delivery-link {
  margin-right: 47px;
}

.navigation-warranty-link {
  margin-right: 41px;
}

/* Слайдер */
.property-title {
  font-family: raleway;
  font-size: 50px;
  line-height: 50px;
}

.property-discription {
  color: #444444;
}

.property-link {
  font-family: raleway;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.property-specification {
  font-size: 36px;
  line-height: 30px;
}

.property-specification-title {
  font-size: 16px;
  color: #444444;
}


/* Список категорий каталога */
.categories-link {
  font-family: raleway;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}


/* Сервисы */
.services-item-button {
  font-family: raleway;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.services-item-button-current {
  color: #FFE17F;
}

.services-discription-title {
  font-family: raleway;
  font-size: 50px;
  line-height: 50px;
}

.services-discription {
  color: #444444;
}

.delivery-link {
  font-family: raleway;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}


/* Информация */
.info-title {
  font-family: raleway;
  font-size: 50px;
  line-height: 50px;
}

.info-discription {
  color: #444444;
}

.type-delivery-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.info-link {
  font-family: raleway;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.address-title {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}


/* Подписка */
.subscribe-title {
  font-family: raleway;
  font-size: 50px;
  line-height: 50px;
}

.subscribe-discription {
  color: #444444;
}

.field {
  font: inherit;
}

.subscribe-free {
  color: #444444;
}


/* Футер */
.page-footer {
  background-color: #444444;
}

.footer-address-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-nav-link {
  font-family: raleway;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-address-phone {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}


/* Шапка каталога */
.inner-header-title {
  font-family: raleway;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}


/* Фильтрация */
.catalog-filter-title {
  font-family: raleway;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-group-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-button {
  font-family: raleway;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


/* Сортировка */
.sort-title {
  font-family: raleway;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control {
  font: inherit;
}


/* Список товаров */
.product-card-content-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  line-height: 21px;
  color: #444444;
}


/* Загрузить еще */
.load-more-button {
  font-family: raleway;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}


/* Пагинация */
.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-prev,
.pagination-next {
  font-family: raleway;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
