@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: rubik, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.page-container {
  margin: 0 auto;
  flex-grow: 1;
  width: 1160px;
}

/* Шапка */
.header-field {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
}

.search-button {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
}

.login-button {
  font: inherit;
}

.compare-link {
  text-decoration: none;
  color: #000000;
}

.cart-button {
  font: inherit;
}

.navigation-link {
  font-family: raleway;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.navigation-sublink {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

/* Слайдер */
.property-title {
  font-family: raleway;
  font-size: 50px;
  line-height: 50px;
 }

.property-discription {
  color: #444444;
}

.property-link {
  font-family: raleway;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.property-specification {
  font-size: 36px;
  line-height: 30px;
}

.property-specification-title {
  font-size: 16px;
  color: #444444;
}
